<div>
<p>Date and Time: <%= @transaction.time_stamp[0,10] %></p>
<p>Amount: £<%= '%.2f' % @transaction.gbp_amount %></p>
<p>Description: <%= @transaction.description %></p>
<p>Merchant: <%= Merchant.find_by_id(@transaction.merchant_id).name %></p>
</div>


  <form action="/transactions/<%= @transaction.id %>/delete" method="post">
    <input class="button" type="submit" value="Delete Transaction" />
  </form><br><br><br>

  <li><a class="back_users" href = "/users/<%= @transaction.user_id %>">Back to users page </a></li><br><br>
