<div>
<p>Date and Time: <%= @transaction.time_stamp[0,10] %></p>
<p>Amount: £<%= @transaction.gbp_amount %></p>
<p>Description: <%= @transaction.description %></p>
<p>Merchant: <%= Merchant.find_by_id(@transaction.merchant_id).name %></p>
<p>Tag: <%= Tag.find_by_id(@transaction.tag_id).name %></p>
</div>


  <form action="/transactions/<%= @transaction.id %>/delete" method="post">
    <input class="button" type="submit" value="Delete Transaction" />
  </form>
