<p>First Name: <%= @account.owner_first_name %></p>
<p>Surname: <%= @account.owner_last_name %></p>
<p>Account Type: <%= @account.name %></p>
<p>Balance: <%= @account.balance %></p>

<div>
  <form action="/accounts/<%= @account.id %>/edit" method = "get">
    <input class="button" type="submit" value="Edit Account" />
  </form>

  <form action="/accounts/<%= @account.id %>/delete" method="post">
    <input class="button" type="submit" value="Delete Account" />
  </form>
</div>
