<p>
<h1> Hi <%= @user.owner_first_name %> </h1>

<h3>Your weekly budget is £<%= @user.weekly_budget %></h3><br>
  <% if @user.budget_is_reaching_limit? == false  %>
  <h3> You have £<%= "#{@user.current_budget}" %> left this week</h3>
  <% else %>
  <h3> Careful! You are reaching your limit, you only have £<%= "#{@user.current_budget}" %> left this week  </h3>
  <% end %>
</p>



<p>
  Quick Transactions:
<form method="post" action="/transactions">
  <input id="user_id" name="user_id" type="hidden" value= "<%= @user.id %>">
  <label>
     Currency:
  <select name = "currency">
    <option value = "GBP" > British Pound </option>
    <option value = "USD" > American Dollars </option>
    <option value = "JPY" > Japanese Yen </option>
    <option value = "EUR" > Euro </option>
  </select>

</label>
  <label for="amount">Amount:</label>
  <input id="amount-field" type="text" name="amount" />
  <label for="description">Description:</label>
  <input id="desc-field" type="text" name="description" />
  <label>
     Merchant:
    <select name = "merchant_id">
      <% for merchant in Merchant.all %>
      <option value = <%= merchant.id %> > <%= merchant.name %> </option>
      <% end %>
    </select>

  </label>
  <label>
    Tag:
    <select name = "tag_id">
      <% for tag in Tag.all %>
      <option value = <%= tag.id %> > <%= tag.name %> </option>
      <% end %>
    </select>

  </label>

  <input type='submit' value="Add Transaction"/>
</form>
</p>


<form action= "/users/<%= @user.id %>/new_week" method = "get">
  <input class="button" type = "submit" value = "New Week"

<p>
<div>
  <form action="/users/<%= @user.id %>/edit" method = "get">
    <input class="button" type="submit" value="Edit User" />
  </form>

  <form action="/users/<%= @user.id %>/delete" method="post">
    <input class="button" type="submit" value="Delete User" />
  </form>
</div>
</p>
