<h1> Hi <%= @user.owner_first_name %> </h1>

Your current budget is <%= @user.monthly_budget %><br>
<br>

<form method="post" action="/transactions">
  <label for="amount">Amount: £</label>
  <input id="amount-field" type="text" name="amount" />
  <label for="description">Description:</label>
  <input id="desc-field" type="text" name="description" />
  <label>
    <p> Merchant:
    <select name = "merchant_id">
      <% for merchant in Merchant.all %>
      <option value = <%= merchant.id %> > <%= merchant.name %> </option>
      <% end %>
    </select>
  </p>
  </label>
  <label>
    <p> Tag:
    <select name = "tag_id">
      <% for tag in Tag.all %>
      <option value = <%= tag.id %> > <%= tag.name %> </option>
      <% end %>
    </select>
  </p>
  </label>

  <input type='submit' value="Add Transaction"/>
</form>

<div>
  <form action="/users/<%= @user.id %>/edit" method = "get">
    <input class="button" type="submit" value="Edit User" />
  </form>

  <form action="/users/<%= @user.id %>/delete" method="post">
    <input class="button" type="submit" value="Delete User" />
  </form>
</div>
