<p>
<h1> Hi <%= @user.owner_first_name %> </h1>

<h2>Your weekly budget is £<%= '%.2f' % @user.weekly_budget %></h2><br>
  <% if @user.budget_is_reaching_limit? == false  %>
    <div class="flex-box">
      <div class="flex-child">
    <h2> You have £<%= '%.2f' % @user.current_budget %> left this week</h2>
  </div>
  <div class="flex-child" id="balance-status">
    <img class = front_page src="/images/save-money.png" alt="piggy_bank"/>
  </div>
</div>
  <% else %>
  <div class="flex-box">
    <div class="flex-child">
    <h3> Careful! You are reaching your limit, you only have £<%= '%.2f' % @user.current_budget %> left this week  </h3>
  </div>
  <div class="flex-child">
    <img class = front_page src="/images/piggy-bank-broken.png" alt="broken piggy bank" />
  </div>
</div>
  <% end %>
</p>

<p>
  Quick Transaction:
<form method="post" action="/transactions">
  <input id="user_id" name="user_id" type="hidden" value= "<%= @user.id %>">
  <label>
    Date:

  <input type="date" name="time_stamp" value= <%= Time.now() + 3000 %> min="2016-01-02" max= <%= Time.now() %>>
</label>
  <label>
     Currency:
  <select name = "currency">
    <option value = "GBP" > British Pound </option>
    <option value = "USD" > American Dollars </option>
    <option value = "JPY" > Japanese Yen </option>
    <option value = "EUR" > Euro </option>
  </select>

</label>
  <label for="amount">Amount:</label>
  <input id="amount-field" type="number" step="0.01" min= "0" name="amount" />
  <label for="description">Description:</label>
  <input id="desc-field" type="text" name="description" />
  <label>
     Merchant:
    <select name = "merchant_id">
      <% for merchant in Merchant.all %>
      <option value = <%= merchant.id %> > <%= merchant.name %> </option>
      <% end %>
    </select>

  </label>
  <label>
    Tag:
    <select name = "tag_id">
      <% for tag in Tag.all %>
      <option value = <%= tag.id %> > <%= tag.name %> </option>
      <% end %>
    </select>

  </label>

  <input type='submit' value="Add Transaction"/>
</form>
</p>

<div>
<form method="post" action="/merchants">
    <input id="name-field" type="text" name="name" />
    <input type='submit' value="Add Merchant"/>
</form>

<form method="post" action="/tags">
    <input id="name-field" type="text" name="name" />
    <input type='submit' value="Add Tag"/>
</form>


<form action= "/users/<%= @user.id %>/new_week" method = "get">
  <input class="button" type = "submit" value = "New Week"/>
</form>


  <form action="/users/<%= @user.id %>/edit" method = "get">
    <input class="button" type="submit" value="Edit Account" />
  </form>

  <form action="/users/<%= @user.id %>/delete" method="post">
    <input class="button" type="submit" value="Delete Account" />
  </form>
</div>
